<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
	<link href="{% static "css/simple-sidebar.css" %}" rel="stylesheet">
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>

	<title>{% block title %}Berkeley Free Clinic Training Portal{% endblock %}</title>

</head>

<body>
	
	{% block sidebar %}
    <div id = "wrapper">
		<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            	<li class="close-button">
            		<a href="#menu-toggle" id="menu-toggle"><span id="menu-toggle-icon" class="glyphicon glyphicon-arrow-left"></span></a>
            	</li>
                <li class="sidebar-brand">
                    Hello, {{ curr_user.name }} 
                </li>
                <li>
                    <ul>
                        <li><a href="/logout">Log out</a></li>
                        <li><a href="/index">Return to home page</a></li>
                    </ul>
                </li>
                <li><h3 class="gray"> Section: {{ curr_user.section }}</h3></li>
                <li><h3 class="gray"> My Courses: </h3></li>
                {% for course in curr_courses.all %}
				<li>
					<a href = "{{ course.get_absolute_url }}"> {{ course.name }} </a>
				</li>
				{% endfor %}
            </ul>
        </div>
        <script>
    	$("#menu-toggle").click(function(e) {
        	e.preventDefault();
        	if (document.getElementById("wrapper").className == "") {
        		document.getElementById("wrapper").className = "toggled";
        		document.getElementById("menu-toggle-icon").className = "glyphicon glyphicon-arrow-right";
        	}
        	else {
        		document.getElementById("wrapper").className = "";
        		document.getElementById("menu-toggle-icon").className = "glyphicon glyphicon-arrow-left";
        	}
    	});
    	</script>
    
        {% endblock %}

        <div id = "page-content-wrapper">
    	  {% block content %}
    	  {% endblock %}
    	</div>
    </div> <!-- this end div corresponds to <div id="wrapper"> at the beginning of the sidebar block. It starts there and ends here so that the side bar shows up on pages iff it's needed-->
	
	
</body>
</html>
