{% extends "bfctraining/base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="page-header text-center">
		<h1>Berkeley Free Clinic Volunteer Training</h1>
	</div>
	<div class="text-left">
		<h2><i>{{ name }}</i></h2>
	</div>
	<div class="text-left">
		<p>{{ description }}</p>
	</div>
	{% if include_box %}
		<div class="box_embed">
			<iframe src="https://app.box.com/embed_widget/s/{{ embedcode }}?view=list&sort=name&direction=ASC&theme=blue" width="500" height="400" frameBorder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		</div>
	{% else %}
		<div class="text-left">
			<p> There aren't any files for this course uploaded yet. </p>
		</div>
	{% endif %}
</div>
{% endblock %}

