<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.css" rel="stylesheet">

</head>

<body>
	<h1>Berkeley Free Clinic Volunteer Training</h1>
	
	<div class="container-fluid">
		<!-- Standard button -->
		<button type="button" class="btn btn-default">Classes</button>
		<button type="button" class="btn btn-default">Skills</button>
		<button type="button" class="btn btn-default">Shifts</button>
		
	</div>

</body>

</html>
