{% extends "bfctraining/base.html" %}

{% block content %}

<div id="login_page_wrapper" class="centered">

	<div id="bfc_title">
		<h1> BERKELEY FREE CLINIC Settings </h1>
		<p>Change user/account settings .</p>
	</div>

	{% if form.errors %}
	<p>Invalid form .</p>
	{% endif %}

	<div id="loginbox" class="centered">
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
			{% csrf_token %}

				<div>
					{{ form.username.label_tag }}
					{{ form.username }}
				</div>
				<div>
					{{ form.password.label_tag }}
					{{ form.password }}
				</div>
				<div>
					{{ form.firstname.label_tag }}
					{{ form.firstname }}
				</div>
				<div>
					{{ form.lastname.label_tag }}
					{{ form.lastname }}
				</div>
				<div>
					{{ form.email.label_tag }}
					{{ form.email }}
				</div>

			<button type="submit" value="login" class="btn btn-default" id="login_button" />Login</button>
			<input type="hidden" name="next" value="/index" />
		</form>
	</div>

</div>
{% endblock %}