/* Personalized css */

th {
	border-bottom: 2px solid black;
}

td {
	border-bottom: 1px solid black;
}

#courses tr:hover td{
	background-color: #FFFF66;
}

.green {
	color: green;
}

.red {
	color: red;
}

.gray {
	color: gray;
}

.tablebox {
	background-color: #FFFFCC;
	padding: 20px;
	margin: 30px;
}